<a href="https://colab.research.google.com/github/tranhuonggiang22/Data-preparation/blob/main/Homework_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [43]:
data = pd.read_csv('/content/drive/MyDrive/DATA PREPERATION/buoi 3/earthquakes.csv')
data.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

In [17]:
#1.
ex1 = data.magType.str.contains('ml') & data.type.str.contains('explosion')
ex1.sum()

79

In [ ]:
#2
b = data.mag.mean() 
b

1.4973454077805157

In [39]:
c = data.place.str.contains('Alaska', na = False)
data.place[c]

6              105km W of Talkeetna, Alaska
18             57km SSW of Kaktovik, Alaska
21               64km SSW of Salcha, Alaska
26      111km NNW of Arctic Village, Alaska
27        43km S of Redoubt Volcano, Alaska
                       ...
9310      59km NNE of Sutton-Alpine, Alaska
9312     134km NW of Arctic Village, Alaska
9313           88km ESE of Whittier, Alaska
9314    132km WNW of Arctic Village, Alaska
9318                11km E of Healy, Alaska
Name: place, Length: 3665, dtype: object

In [40]:
d = data.place.str.contains('\d\d\d', na = False)
data.place[d]

6                            105km W of Talkeetna, Alaska
9                         219km SSE of Saparua, Indonesia
13                     120km SSW of Banda Aceh, Indonesia
15                   156km WNW of Haines Junction, Canada
26                    111km NNW of Arctic Village, Alaska
                              ...
9193    124km NNW of Charlotte Amalie, U.S. Virgin Isl...
9282                           261km ESE of Lambasa, Fiji
9283                  140km ENE of Anaktuvuk Pass, Alaska
9312                   134km NW of Arctic Village, Alaska
9314                  132km WNW of Arctic Village, Alaska
Name: place, Length: 1075, dtype: object

In [41]:
ex2 = data.mag[c &~ d].mean()
ex2

1.3744199088678577

In [49]:
#3
date = pd.to_datetime(data['time'], unit='ms')
date

0      2018-10-13 23:59:28.010
1      2018-10-13 23:58:49.610
2      2018-10-13 23:57:42.610
3      2018-10-13 23:56:18.070
4      2018-10-13 23:51:56.050
                 ...
9327   2018-09-18 00:23:48.060
9328   2018-09-18 00:22:15.130
9329   2018-09-18 00:18:28.180
9330   2018-09-18 00:12:25.350
9331   2018-09-18 00:01:04.470
Name: time, Length: 9332, dtype: datetime64[ns]

nan

In [45]:
data.mag['quarter', 'time'].mean()

TypeError: ignored